mixin moreInformation(img)
  .moreInformation.w-100.border#lugar
    .container-fluid
      .row
        .col-md-12.col-lg-6.moreInformation-contentimg.p-0
          img(src=img, alt="").w-100.moreInformation-img.h-100 
        .col-md-12.col-lg-6.bg-secundario-degra.text-light.p-5.moreInformation-description
          h2 Lorem ipsum dolor sit.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis non, laudantium corrupti qui ratione mollitia aliquam. Dignissimos delectus reprehenderit non temporibus nisi, eius laborum illum aliquid. Provident soluta nam neque ex nobis nesciunt natus, aliquam delectus ipsam unde incidunt corrupti rerum accusantium fugit expedita debitis error aliquid molestiae deleniti dignissimos Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque impedit reprehenderit recusandae placeat alias quis quasi temporibus qui aliquid provident?
          a(href="#").btn.btn-outline-light conocenos mas
